body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.87em;
}

.wrapper .left,
.wrapper .right {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.flex-card {
  flex-direction: row;
  justify-content: center;
}

.reseptit-carousel {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh !important;
  padding: 0;
}

#image-input {
  position: absolute;
  right: 0;
}

.footeri.p {
  text-align: center;
}

.resepti-card-img {
  border-radius: 0 !important;
}

.wrapper .right.arvostelut {
  overflow: visible;
  height: auto;
  padding-top: calc(25vh - 100px);
}

.wrapper .left.arvostelut {
  height: auto;
}

.wrapper .right .navb {
  visibility: visible;
  position: absolute;
  top: 0;
  z-index: 12;
  background-color: rgba(43, 172, 103, 0.8);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .right.arvostelut .navb {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper .left .header {
  z-index: 11;
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  background-color: rgba(43, 174, 102, 0.8775910369);
  /* background: rgb(43,174,102);
  background: linear-gradient(177deg, rgba(43,174,102,1) 0%, rgba(23,222,106,1) 50%, rgba(36, 186, 108, 0.942) 100%); */
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 1.5px;
}

.arvostelu-kentta {
  background-color: white;
  position: fixed;
  top: 170px;
  left: 0px;
  width: 38%;
  margin-bottom: 500px;
  color: black;
  padding: 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.25s ease all;
  font-size: 1.25em;
  overflow: hidden;
  border-radius: 0px;
  word-wrap: break-word;
  hyphens: auto;
  flex-direction: column;
  border-radius: 10px;
  display: none;
  margin-left: 100px;
  border: solid 0.1px rgba(0, 0, 0, 0.11724439775910369);
  text-transform: uppercase;
  z-index: 5;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal-container {
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOut 2s;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arvostelu-kentta.active {
  display: flex;
}

.review-btn-div {
  color: black;
  border-radius: 1000px;
  position: fixed;
  top: 100px;
  left: 20px;
  z-index: 11;
  display: inline-block;
  border: solid 2px white;
}

.review-btn {
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 1000px !important;
  background-color: rgba(43, 174, 103, 0.8724439775910369) !important;
  padding: 0 !important;
  font-size: 20px;
}

.review-btn:hover {
  background-color: rgba(0, 0, 0, 0.9724439775910369) !important;
}

#submit-review-btn {
  color: white;
}

.form-range::-webkit-slider-thumb {
  background-color: #2bae66ff;
}

.wrapper .right .navb .navi-link {
  text-decoration: none;
  margin: 0 1.25em;
  padding: 1em 1em;
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  border-radius: 1.2em;
  color: white;
  letter-spacing: 1.3px;
}

.wrapper .right {
  background: #2bae66ff;
  /* background: rgb(43,174,102);
  background: linear-gradient(177deg, rgba(43,174,102,1) 0%, rgba(23,222,106,1) 50%, rgba(36, 186, 108, 0.942) 100%); */
}

.wrapper .reseptit {
  height: auto;
}

.wrapper .arvostelut {
  height: auto;
}

.wrapper .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.25s ease all;
}

.jar {
  background-image: url("../images/jar1.jpeg");
}

.etusivu-image {
  background-image: url("../images/etusivutesti1.jpg");
}

.pickle-fork {
  background-image: url("../images/pickle-fork.jpg");
}

.many-pickles2 {
  background-image: url("../images/small-many-pickles.png");
}

.many-pickles {
  background-image: url("../images/many-pickles.jpeg");
}

.kurkku {
  background-image: url("../images/putoavat-kurkut.jpg");
}



.pickle-and-plate {
  background-image: url("../images/uusi-resepti-testi.jpg");
}

.testaillaan {
  background-image: url("../images/kurkut-lillumassa.jpg");
}

.wrapper .caption {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

.wrapper .left .caption {
  width: 50%;
  text-align: center;
}

.open-button {
  font-size: 12px!important;
  padding: 8px 35px!important;
  
}

.mt-100 {
  margin-top: 6.25em;
}

.mt-16 {
  margin-top: 1em;
}

.wrapper .caption h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 40px;
}

.wrapper .right .caption {
  padding: 0 15px;
}

.jumbo-h1 {
  font-size: 30px !important;
  width: 90%;
  margin: 15px auto 0 auto;
}

.jumbo-p {
  font-size: 24px !important;
  width: 90%;
  margin: 20px auto;
}

.wrapper .left .caption h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.padding-etusivu {
  margin-bottom: 10px;
}

#panel {
  transition: 0.5s;
  padding-top: 10px;
}

.arvostelut .progress-bar {
  background-color: #2bae66ff;
}

#profile {
  height: 400px;
  background-color: white;
  box-shadow: 10px 10px 20px -10px rgba(158, 158, 158, 0.644);
  border-radius: 30px;
  transform: scale(0);
  transition: 0.5s;
  position: fixed;
  top: 310px;
  left: 100px;
  width: 40%;
  opacity: 0;
  color: black;
  z-index: 20;
}

.close {
  font-size: 20px;
  cursor: pointer;
}

.arvostelut .card {
  transition: 0.5s;
  transform: translate((0xp, 0px));
}

.arvostelut .card:hover {
  box-shadow: 10px 10px 40px -20px rgba(98, 98, 98);
  transform: translate(-5px, -5px);
}

.search-formi {
  position: absolute;
  width: 100%;
}

.pen-icon-link {
  text-decoration: none;
  color: white;
}

.pen-icon-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.form-control {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
}

.form-control:focus {
  border-color: #2bae66ff;
  box-shadow: inset 0 1px 1px #fcf6f5ff, 0 0 8px #2bae66ff;
}

.btn:focus {
  box-shadow: inset 0 1px 1px #fcf6f5ff, 0 0 8px #2bae66ff !important;
}

.btn:disabled {
  color: #2bae66ff !important;
  background-color: #2bae66ff !important;
}

.btn:active {
  background-color: #2bae66ff !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
}

.jumbotron-fluid {
  word-wrap: break-word !important;
}

.login h3 {
  color: white;
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

.login-icon,
.login-icon:visited {
  text-decoration: none;
  color: #2bae66ff;
  font-size: 22px;
  border: solid #2bae66ff 3px;
  border-radius: 25px;
  width: 23%;
  background-color: #fcf6f5ff;
}

.login-icon:hover {
  background-color: black;
  color: white;
  opacity: 80%;
  transition: 0.7s;
  border: none;
}

.login-icon-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#login-button {
  text-transform: uppercase;
  color: #fcf6f5ff;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 10px 25px;
}

.wrapper .caption .button {
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: #fcf6f5ff;
  padding: 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.25s ease all;
  font-size: 1.25em;
  /* overflow: hidden; */
  border-radius: 10px;
  word-wrap: break-word;
  hyphens: auto;
}

.wrapper .haku .caption .button {
  background: none;
}

.wrapper .right .navb .navi-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: 0.3s ease all;
  padding: 1em 2em;
  border-radius: 1.56em;
}

.card {
  background-color: #fcf6f5ff;
  text-overflow: ellipsis;
  transition: 0.16s ease all;
  color: black;
  border: none;
}

.wrapper .caption .button:hover {
  /* background: #ffde46;
  color: black; */
  transform: scale(1.1);
}

.wrapper .right .caption.slider {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.esittely {
  background-color: rgba(43, 174, 103, 0.9);
}

/* .esittely:hover {
  opacity: 100%;
  transform: scale(1.2);
  
} */

.esittely h3,
h4 {
  color: black;
}

.wrapper .side::before {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6643032212885154) 0%,
    rgba(0, 0, 0, 0.01724439775910369) 50%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: "";
  display: block;
  pointer-events: none;
}

.wrapper .left:hover .image,
.wrapper .right:hover .image {
  transform: scale(1.05);
}

.wrapper .left.arvostelut:hover .image {
  transform: scale(1);
}

.btn {
  background-color: #2bae66ff;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 25px;
}

.kyna-icon {
  position: fixed;
  color: #fcf6f5ff;
  left: 20px;
  top: 100px;
  font-size: 20px;
  background-color: rgba(43, 174, 103, 0.9);
  padding: 15px;
  border-radius: 100px;
  font-weight: 300;
  border: solid 2px white;
  z-index: 11;
}

.kyna-icon:hover {
  background-color: rgba(0, 0, 0, 0.77735644257703087);
  animation: forwards;
  transition: 0.3s;
}

.cards-wrapper {
  display: flex;
}

.text-white {
  color: white;
}

.col-md-6 {
  margin: 10px 0;
}

/* .card:hover {
  transform: scale(1.05);
} */

.btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.up-icon {
  visibility: hidden;
}

.hide {
  display: none;
}

.new-recipe-nick {
  margin-left: 20px;
  width: 21%;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.96);
}

.recipe-title {
  display: block;
  width: 40%;
  padding-left: 20px;
  margin-top: 40px;
  text-align: left;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.96);
}

#exampleFormControlTextarea1 {
  height: 300px;
  width: 40%;
  margin-top: 25px;
  z-index: 2;
  color: black;
  padding: 10px 20px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.96);
}

.new-recipe-hdr h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  z-index: 3;
  letter-spacing: 1.6px;
}

.new-recipe-hdr {
  background-color: rgba(0, 0, 0, 0.4724439775910369);
  background-color: #2bae66ff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  z-index: 3;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-left: 30px;
}
.new-recipe-container {
  height: 100vh;
  width: 100%;
  margin: auto;

  /* /* background-color: rgba(43,174,102, 0.88); */
}

.image2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.new-recipe-container::before {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6643032212885154) 0%,
    rgba(0, 0, 0, 0.01724439775910369) 50%
  );
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
}

.new-recipe-body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.new-recipe-btn {
  margin-top: 30px;
  padding: 10px 15px;
  z-index: 1;
  text-transform: uppercase;
  width: 200px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.clickable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
}

.clickable.active {
  display: flex;
}

.new-recipe-flexer {
  display: flex;
  width: 100%;
  background-color: #2bae66ff;
  justify-content: space-evenly;
  align-items: center;
  
}

.new-navi-div {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  z-index: 5;
}

.new-navi-div a {
  text-decoration: none;
  /* margin-left: 20px; */
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1.7px;
  z-index: 3;
  border-radius: 2.5em;
  font-size: 16px;
}

.info-img-wrapper {
  width: 100%;
  height: 16vh;
  background-color: white;
  border: solid white 1px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.info-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.recipe-card-btn:hover {
  border-color: white !important;
}

.fade-out {
  animation: fadeOut 0.5s;
  opacity: 0;
}

.recipe-info-box {
  position: absolute;

  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  z-index: 15;
  width: 90%;
  height: 40%;
  border-radius: 15px;
  color: #2bae66ff;
  border: solid 2px #2bae66ff;
  background: white;
  /* background: linear-gradient(
    117deg,
    rgba(43, 174, 102, 1) 0%,
    rgba(39, 162, 97, 0.94861694677871145) 63%
  ); */

  /* background: rgb(43,174,102); */
  /* background: linear-gradient(0deg, rgba(43,174,102,1) 5%, rgba(255,255,255,0.9867121848739496) 20%); */
  display: none;
}

.modal-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  border: solid 2px #2bae66ff;
  border-right: 1px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.hidden-sktk {
  display:none;
}

.modal-content {
  width: 80%;
  padding: 40px 20px;
  font-size: 20px;
  border-left: solid 2px #2bae66ff;
 
}

.modal-title {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.recipe-info-box.active {
  display: flex;
}

.new-navi-div a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: 0.3s ease all;
  padding: 1em 2.5em;
  border-radius: 2.56em;
}

.new-recipe-sktk {
  position: absolute;
  left: 10px;
  top: -20px;
  font-family: "Shadows Into Light", cursive;
  z-index: 5;
  color: white;
}

#wrong-password {
  color: red;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5724439775910369);
  padding: 4px 15px;
  position: absolute;
  top: 192px;
  border-radius: 10px;
  display: none;
}

#wrong-password.active {
  display: flex;
}
.padding-span {
  margin-top: 50px;
}

.logo {
  position: absolute;
  text-decoration: none;
  color: #2bae66ff;
  left: 20px;
  top: 25px;
  font-family: "Shadows Into Light", cursive;
  font-size: 0.75em;
}

.logo:hover {
  color: white;
}

.img-wrapper {
  height: 300px;
}

/* .img-wrapper-reseptit {
  width: 100%;
  height: 63.3vh;
  position: sticky;
  background-color: #2bae66ff;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

.resepti-card-img {
  max-width: 100%;
  max-height: 100%;
}

#carousel-slide1 {
  height: 70vh;
  background-image: url("../images/kurkkukokko.jpg");
  background-position: center center;
  background-size: cover;
}

#carousel-slide2 {
  height: 70vh;
  background-image: url("../images/Kurkkuja-lautasella.jpg");
  background-position: center center;
  background-size: cover;
}

#carousel-slide3 {
  height: 70vh;
  background-image: url("../images/123.jpg");
  background-position: center center;
  background-size: cover;
}

#carousel-slide4 {
  height: 70vh;
  background-image: url("../images/suolakurkkulohkot.jpg");
  background-position: center center;
  background-size: cover;
}

.recipe-card-btn {
  border: solid 1px white;
  padding: 10px 20px;
  font-size: 12px;
}

.test-setti {
  height: 10vh;
  z-index: 20;

  background-position: center center;
  background-size: cover;
}

.card-recipe {
  background-color: rgba(43, 174, 103, 1) !important;
  color: #fcf6f5ff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 23.2vh;
  padding-bottom: 40px !important;

  border-top: solid white 1px;
  overflow: hidden;
}

.card-recipe h5 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.wrapper .right.etusivu .flexnav {
  background-color: rgba(43, 174, 102, 0.8);
}

.arvostelu-img {
  object-fit: contain;
  padding: 10px;
}

.logo:visited {
  color: white;
  text-decoration: none;
}

#add-img-btn {
  position: absolute;
  color: white;
  top: 152px;
  right: 52px;
  border-radius: 10px;
  opacity: 70%;
  font-size: 10px;
  
}

.img-placeholder {
  border: solid 1px #2bae66ff;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 45px;
  right: 20px;
  border-radius: 5px;
  background-color: white;
  opacity: 80%;
  z-index: 10;
  background-position: center;
  background-size: cover;
}

input[type="file"] {
  display: none;
}

.reseptit-h1 {
  display: none;
  justify-content: center;
}

.thank-you-message {
  background-color: rgba(0, 0, 0, 0.45735644257703087);
  margin-top: 150px;
  text-align: center;
  z-index: 15;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.thank-you-message .btn {
  padding: 15px 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-top: 15px;
}

.thank-you-message .btn a,
.thank-you-message .btn a:visited {
  text-decoration: none;
  color: white;
}

.img-label {
  color: #2bae66ff;
  position: absolute;
  right: 43px;
  top: 152px;
  font-size: 20px;
  cursor: pointer;
  border: solid 2px #2bae66ff;
  border-radius: 100px;
  padding: 5px 12px;
}

.img-label:hover {
  background-color: black;
  transition: 0.4s;
  color: white;
}

#image-input {
  position: absolute;
  right: 80px;
  top: 150px;
  height: 40px;
  background-color: #2bae66ff;
  width: 100px;

  cursor: pointer;
}

#send-new-recipe-btn {
  border: solid 0.2px rgba(255, 255, 255, 0.1);

}

.new-recipe-sktk .logo {
  color: white;
  font-size: 24px;
  font-weight: 300;
  left: 10px;
}

.modal-a {
  text-decoration: none;
  color: white;
  border-color: white !important;

  padding: 15px 40px;
}

.modal-a:visited {
  text-decoration: none;
  color: white;
  border-color: white !important;
}

.modal-a:active {
  text-decoration: none;
  color: white;
  border-color: white !important;
}

.new-recipe-sktk .logo:hover {
  color: white;
}

.new-recipe-sktk .logo:visited {
  color: white;
  font-size: 10px;
}

.reseptit .carousel-control-prev {
  position: absolute;
  height: 400px;
  top: 100px;
}

.carousel-control-prev-icon {
  color: #2bae66ff;
}

.reseptit .carousel-control-next {
  position: absolute;
  height: 400px;
  top: 100px;
}

.search-button {
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: none;
}

#search-btn-submit {
  background-color: #2bae66ff;
  visibility: visible;
}

@media screen and (max-width: 1600px) {
  .wrapper .haku .caption .button {
    background: none;
  }
}

@media screen and (max-width: 1500px) {
  .img-placeholder {
    display: none;
  }

  #add-img-btn {
    top: 75px;
    font-size: 24px;
    width: 50px;
    right: 5px;
  }
}

@media screen and (max-width: 1340px) {

  .big-secret {
    display:none
  }

  .hidden-sktk {
    display:inline-block;

  }

  .header-text {
    display: none;
  }

  .new-recipe-container {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    display: flex;
  }
  .wrapper .left,
  .wrapper .right {
    width: 50%;
    height: 100vh;
  }
  .toggle-button {
    display: none;
  }
}

@media screen and (max-width: 1200px) {



  .recipe-info-box {
    height: 90%;
    flex-direction: column;
  }

  .info-img-wrapper {
    display: none;
  }

  .info-img {
    display: none;
  }

  .modal-title {
    font-size: 22px;
    font-weight: bold;
  }

  .modal-content {
    font-size: 15px;
    margin-top: 0;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    text-align: center;
    align-self: center;
  }

  .recipe-card-btn {
    font-size: 10px !important;
    margin-bottom: 40px;
  }

  .reseptit-h1 {
    display: flex;
  }

  .reseptit-carousel {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
  }

  .card-title {
    font-size: 20px !important;
  }

  .card-text {
    font-size: 13px !important;
  }

  .wrapper .right.reseptit {
    height: auto;
  }

  .esittely {
    border-radius: 10px;
  }

  .wrapper .left .caption {
    width: 100%;
  }

  .wrapper .caption .button.login {
    margin: auto;
    width: 60%;
  }

  .thank-you-message {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  #exampleFormControlTextarea1 {
    height: 300px;
    width: 80%;
  }

  .recipe-title {
    width: 80%;
    margin-top: 120px;
  }

  .review-btn-div.active {
    position: fixed;
    left: 20px;
    top: 51vh;
    color: rgba(0, 0, 0, 0.3724439775910369);
  }

  .review-btn.active {
    background: rgba(255, 255, 255, 0.6) !important;
    color: #2bae66ff;
  }

  .arvostelu-kentta {
    margin-bottom: 0;
    width: 96%;
    margin-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    font-size: 10px;
    
  }

  

  .menu-nappi {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 2px;
  }

  .jar {
    margin-top: 0;
  }

  .wrapper .right .navb {
    top: -1000px;
  }

  .wrapper .left .header {
    display: none;
  }

  .logo {
    color: black;
  }

  .logo:visited {
    color: black;
  }

  .toggle-button {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0px;
    width: 41px;
    height: 30px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(43, 174, 104, 0.9);
    position: fixed;
    border: none !important;
    padding: 0;
    padding-right: 14px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 20;
  }
  .search-button {
    margin-bottom: 60px;
  }
  .hakukomponentti {
    margin-top: 60px;
  }

  .nav-link-div {
    display: none;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper .right.arvostelut {
    padding: calc(25vh - 200px);
  }

  .wrapper .left.arvostelut {
    height: 50vh;
  }

  .wrapper .right.reseptit {
    /* overflow: visible; */
  }

  .small-profile {
    font-size: 10px;
  }

  .etusivu .toggle-button {
    display: flex;
  }

  .new-recipe-container .toggle-button {
    top: 0;
    right: 0;
    background-color: rgba(43, 174, 104, 0.9);
  }

  .color-green {
    color: #2bae66ff;
  }

  .flexnav {
    position: absolute;
    right: 5px;
    top: -50px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 20px;
    margin-top: 20px;
  }

  .flexnav a {
    text-align: center;
  }
  .nav-link-div.active {
    display: flex;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    height: 46.6vh;
    background-color: rgba(43, 174, 104, 0.9);
    width: 100%;
    justify-content: center;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 20px;
  }

  .toggle-button.active {
    width: 100%;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 0;
    margin: 0;
  }

  /* .wrapper .right .navb .navi-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.3s ease all;
    padding: 1em 2em;
    border-radius: 1.56em;
  } */

  .new-navi-div {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5724439775910369);
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    right: 4px;
  }

  .new-navi-div a {
    margin: 6px 0;
    text-align: center;
  }

  .new-navi-div.active {
    visibility: visible;
    display: flex;
    position: fixed;
    background-color: rgba(43, 174, 104, 0.9);
    width: 100%;
    top: 10px;
    right: 0;
    opacity: 100;
  }

  .new-navi-div a:hover {
    background: none;
    color: rgba(0, 0, 0, 0.3724439775910369);
    transition: none;
    padding: 1em;
    border-radius: 0;
  }
  .kyna-icon {
    left: 15px;
    top: 25px;
  }
  .wrapper .haku .caption .button {
    background: none;
  }

  #profile {
    left: 35px;
    top: 200px;
    height: 470px;
    width: 90%;
  }

  #profile-img {
    display: none;
  }

  #kuvakorttiboksi {
    width: 250px;
    height: 100px;
    border: none;
    position: absolute;
    left: 20px;
    padding: 0px !important;
    z-index: 5 !important;
  }

  .border-end {
    border-right: 0 !important;
  }
  .small-screen-margin {
    margin-left: 15px;
  }

  .arvostelut .caption h1 {
    margin-bottom: 7px;
  }

  .wrapper .right .navb .navi-link:hover {
    background: none;
    color: rgba(255, 255, 255, 0.6);
    transition: none;
    padding: 1em 1em;
    border-radius: 0;
  }

  @media screen and (max-width: 700px) {
    #carousel-slide1 {
      height: 60vh;
    }

    #carousel-slide2 {
      height: 60vh;
    }

    #carousel-slide3 {
      height: 60vh;
    }

    #carousel-slide4 {
      height: 60vh;
    }

    .card-recipe {
      height: auto;
      padding: 40px;
    }

    .jumbo-h1 {
      font-size: 20px !important;
      padding: 0 !important;
    }

    .jumbo-p {
      font-size: 15px !important;
    }

    .jumbotron.fluid {
      width: 51%;
      padding: 0 !important;
      margin: 0;
      margin-right: 0 !important;
    }

    .wrapper .caption .button.login {
      margin: auto;
      width: 80%;
    }

    .arvostelu-kentta {
      margin-bottom: 0;
      width: 90%;
      margin: 5px auto;
      height: 50vh;
    }

    .img-label {
      right: 10px;
      top: 103px;
    }
    .new-recipe-sktk .logo {
      font-size: 18px;
      left: -5px;
    }

    #add-img-btn {
      top: 50px;
      right: 100px;
    }

    .up-icon,
    .up-icon:hover,
    .up-icon:visited {
      visibility: visible;
      z-index: 5;
      position: fixed;
      right: 55px;
      bottom: 60px;
      font-size: 34px;
      opacity: 31%;
      text-decoration: none;
      color: black;
    }

    .content .up-icon,
    .content .up-icon:hover .content .up-icon:visited {
      color: white;
      right: 20px;
      bottom: 250px;
      opacity: 50%;
    }

    .reseptit .carousel-control-prev {
      left: 70px;
    }

    .reseptit .carousel-control-next {
      right: 70px;
    }

    .search-button {
      visibility: visible;
      opacity: 55%;
      font-size: 25px;
      text-align: center;
      margin-top: 80px;
    }

    .search-field {
      display: none;
      position: absolute;
      top: 150px;
      left: 70px;
      width: 220px;
      z-index: 50;
      animation: fadeInAnimation ease 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      border-color: #2bae66ff;
    }

    .search-field:focus {
      color: #2bae66ff;
    }

    .wrapper .caption .button:hover {
      transform: none;
    }

    #search-btn-submit {
      visibility: hidden;
      position: absolute;
      right: 45px;
      top: 132px;
      z-index: 15;
      font-size: 10px;
      background-color: #2bae66ff;
      opacity: 60%;
      padding: 10px 14px;
    }

    #search-button {
      margin-top: 130px;
      padding: 10px 15px;
    }

    #search-btn-submit:hover {
      background-color: rgba(0, 0, 0, 0.7724439775910369);
    }

    .search-field.active {
      display: flex;
    }

    #search-btn-submit.active {
      visibility: visible;
    }
  }

  @media screen and (max-height: 720px) {
    .arvostelu-kentta {
      height: 40vh;
      font-size: 10px;
    }

    #submit-review-btn {
      margin-top: 3px!important;
      font-size: 10px;
    }
  }


  @media screen and (max-height: 650px) {

    #kirjaudu-sisaan {
      font-size: 16px!important;
    }

    .button.login {
      position: absolute;
      left: 25px;
      height: 50vh;
      position: absolute;
      top: 100px;
    }

    #login-caption {
      position: absolute;
      font-size: 10px;
      width: 90%;
      height: 90%;
    }

    .login-input-text {
      height: 7%;
      margin-top: 10px!important;
      margin-bottom: 4px;
      padding: 0;
    }

    .login-icon-div {
      height: 20px;
    }

    .login-icon {
      font-size: 10px;
    }

    #login-button {
      margin-top: 6px!important;
      padding: 5px 15px;
      font-size: 10px;
    }

    #input-password {
      margin-top: 0!important;
    }

  

    .jumbotron.fluid {
      width: 51%;
      padding: 0 !important;
      margin: 0;
      margin-right: 0 !important;
    }

    .jumbo-h1 {
      font-size: 20px !important;
      padding: 0 !important;
    }

    .jumbo-p {
      font-size: 15px !important;
    }

    #profile {
      top: 0px;
      height: 100%;
      z-index: 50;
    }

    .up-icon {
      bottom: 5px;
    }
    .up-icon:hover {
      bottom: 5px;
    }

    .search-field {
      top: 10px;
    }

    #search-btn-submit {
      top: -6px;
    }

    .arvostelu-kentta {
      height: 60vh;
      width: 90%;
      margin: 0px auto;
      transform: scale(0.8);
    }

    #add-img-btn {
      top: 20px;
    }

    .wrapper .left.arvostelut.active {
      height: auto;
    }

    #login-caption {
      height: 10%;
      top: -80px;
    }
    .button.login {
      font-size: 10px;
    }
  }
}

@media screen and (max-height: 400px) {
  .button.login {
    position: absolute;
    width: 80%;
    margin: auto;
    top:80px;
  }
}
