body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.87em;
}

.wrapper .left,
.wrapper .right {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper .right .navb {
  position: absolute;
  top: 2.8em;
  z-index: 12;
}

.wrapper .left .header {
  z-index: 11;
  position: absolute;
  left: 2em;
  top: 0.62em;
  font-size: 0.75em;
  font-weight: 400;
  font-family: "Shadows Into Light", cursive;
}

.wrapper .right .navb .navi-link {
  text-decoration: none;
  margin: 0 1.25em;
  padding: 1em 1em;
  font-weight: 600;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  border-radius: 1.2em;
  color: white;
  letter-spacing: 1.3px;
}

.wrapper .right {
  background: #2bae66ff;
}

.wrapper .reseptit {
  height: auto;
}

.wrapper .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.25s ease all;
}

.jar {
  background-image: url("../images/jar1.jpeg");
}

.pickle-fork {
  background-image: url("../images/pickle-fork.jpeg");
}

.many-pickles2 {
  background-image: url("../images/small-many-pickles.png");
}

.many-pickles {
  background-image: url('../images/many-pickles.jpeg')
}

.wrapper .caption {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
}

.wrapper .left .caption {
  width: 50%;
  text-align: center;
}

.mt-100 {
  margin-top: 6.25em;
}

.mt-16 {
  margin-top: 1em;
}

.wrapper .caption h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.wrapper .right .caption {
  padding: 0 15px;
}

.wrapper .left .caption h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.padding-etusivu {
  margin-bottom: 10px;
}

.pen-icon-link {
  text-decoration: none;
  color: white;
}

.pen-icon-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.form-control {
  width: 70%;
  display: inline-block;
  margin-right: 10px;
}

.form-control:focus {
  border-color: #2bae66ff;
  box-shadow: inset 0 1px 1px #fcf6f5ff, 0 0 8px #2bae66ff;
}

.wrapper .caption .button {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fcf6f5ff;
  padding: 55px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.25s ease all;
  font-size: 1.25em;
  overflow: hidden;
  border-radius: 20px;
  word-wrap: break-word;
  hyphens: auto;
}

.wrapper .right .navb .navi-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: 0.3s ease all;
  padding: 1em 2em;
  border-radius: 1.56em;
}

.card {
  background-color: #fcf6f5ff;
  text-overflow: ellipsis;
  transition: 0.16s ease all;
  color: black;
  border: none;
}

.wrapper .caption .button:hover {
  /* background: #ffde46;
  color: black; */
  transform: scale(1.1);
}

.wrapper .side::before {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6643032212885154) 0%,
    rgba(0, 0, 0, 0.01724439775910369) 50%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
}

.wrapper .left:hover .image,
.wrapper .right:hover .image {
  transform: scale(1.2);
}

.btn {
  background-color: #2bae66ff;
  border: none;
  border-radius: 25px;
}

.kyna-icon {
  position: absolute;
  top: 0.8em;
  left: 0.75em;
  font-size: 28px;
}

.cards-wrapper {
  display: flex;
}

.toggle-button {
  position: absolute;
  top: 1.5em;
  right: 1em;
  display: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  z-index: 13;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  z-index: 13;
}

.col-md-6 {
  margin: 10px 0;
}

.card:hover {
  transform: scale(1.05);
  border: 1.3px solid rgba(255, 255, 255, 0.7643032212885154);
}

.btn:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 988px) {
  .wrapper {
    display: flex;
  }
  .wrapper .left,
  .wrapper .right {
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 988px) {
  .toggle-button {
    display: flex;
  }
  .nav-link-div {
    display: none;
    flex-direction: column;
  }

  .flexnav {
    position: absolute;
    right: 5px;
    top: -50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 20px;
  }

  .flexnav a {
    text-align: center;
  }
  .nav-link-div.active {
    display: flex;
  }

  .new-navi-div {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5724439775910369);
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    right: 4px;
    border-radius: 10px;
  }

  .new-navi-div a {
    margin: 6px 0;
  }

  .new-navi-div.active {
    visibility:visible;
  }
}

@media screen and (max-width: 500px) {
  .new-recipe-sktk {
    visibility: hidden;
  }
}

@media screen and (max-height: 650px) {
  /* place here CSS for when the screen is less than 500px tall */
  /* .navi-link {
    visibility: hidden;
  } */

  .toggle-button {
    display: flex;
  }

  .navi-link-div {
    visibility: hidden;
  }

  .new-navi-div {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5724439775910369);
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    right: 4px;
    border-radius: 10px;
  }

  .new-navi-div.active {
    visibility: visible;
  }

  .nav-link-div {
    display: none;
    flex-direction: column;
    margin-right: 20px;
  }
  .nav-link-div.active {
    display: flex;
  }

  .flexnav {
    position: absolute;
    right: 5px;
    top: -50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 20px;
  }
}

.hide {
  display: none;
}

.new-recipe-nick {
  margin-left: 20px;
  width: 21%;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.96);
}

.recipe-title {
  display: block;
  width: 40%;

  margin-top: 15px;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.96);
}

#exampleFormControlTextarea1 {
  height: 400px;
  width: 50%;
  margin-top: 15px;
  z-index: 2;
  color: black;
  padding: 20px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.96);



}

.new-recipe-hdr h1 {

  text-align: center;
  margin: 0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  z-index: 3;
  letter-spacing: 1.6px;
}

.new-recipe-hdr {
  background: rgba(43,174,102, 0.88);
  padding: 35px 0;
  text-align: center;
  position: relative;
  z-index: 3;

}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

}
.new-recipe-container {
  height: 100vh;
  width: 100%;
  /* background-color: rgba(43,174,102, 0.88);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/many-pickles2.jpeg'); */

}

.image2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;

}




.new-recipe-container::before {
  background: rgba(0, 0, 0, 0.2724439775910369);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
}

.new-recipe-btn {
  margin-top: 30px;
  padding: 15px;
  z-index: 1;
  text-transform: uppercase;
  width: 200px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 20px;
}

.new-recipe-flexer {
  display: flex;
  width: 100%;
  background-color: #2bae66ff;
  justify-content: space-evenly;
  align-items: center;

}

.new-navi-div {
  position: absolute;
  top: 24px;
  right: 30px;
  display: flex;
  z-index: 5;
}

.new-navi-div a {
  text-decoration: none;
  /* margin-left: 20px; */
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1.7px;
  z-index: 3;
  border-radius: 2.5em;
  
}

.new-navi-div a:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: 0.3s ease all;
  padding: 1em 2.5em;
  border-radius: 2.56em;
}

.new-recipe-sktk {
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: "Shadows Into Light", cursive;
  z-index: 5;
  color: white;
}

.padding-span {
  margin-top: 50px
}

.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: black;
}

.new-recipe-sktk .logo {
  color:white;
  font-size: 24px;
  font-weight: 300;  
}

.new-recipe-sktk .logo:hover {
  color: white;
}

